<h1>Listings</h1>
<%= link_to("Add a Listing", new_property_path, class: "btn btn-sm")%>
<br><br>
<div class="row">
<% @listings.each do |prop| %>
  <div class="col-md-4">
        <a href=<%="/properties/"+prop.id.to_s%>>
          <%= cl_image_tag(@properties.find(prop.id).photo_url, :width => 300, :height => 200, :alt => "Property Pic") %>
        </a>
        <div class="">
          <%=@properties.find(prop.id).address%> &emsp; &emsp; $<%=@properties.find(prop.id).price%>/month
        </div>
        <div class="">
          Interest(s) received: <%=@properties.find(prop.id).shortlists.length%>
        </div>
        <%= link_to("Edit Property", '/properties/'+prop.id.to_s+'/edit',class: "btn btn-xs")%>
        <%= link_to("Remove", '/properties/'+prop.id.to_s, method: :delete, class: "btn btn-xs")%>

  </div>
<%end%>
</div>
