<div class="col-md-6">
  <h2>Listings Found: </h2>
  <!-- <br>
    <form>
      <input type="text" placeholder="Search">
      <button type="submit" class="btn btn-default btn-xs">Go</button>
    </form>
    <br> -->
    <%= form_tag(properties_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter address or property type", :class => "form-control" %>
    <span><%= submit_tag "Search", :name => nil, :class => "btn btn-default" %></span>
  <% end %>
<br><br>

  <div class="dropdown">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Sort By
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Lowest Price</a></li>
      <li><a href="#">Highest Price</a></li>
      <li><a href="#">Recency</a></li>
      <li><a href="#">Popularity</a></li>
    </ul>
  </div>
  <br>

  <% if @properties.blank? %>
  <h4>There are no property containing the address or property type <%= params[:search] %>.</h4>
<% end %>

  <%@properties.each do |prop|%>
    <div class="row">

      <div class="col-md-4">
        <%= cl_image_tag(prop.photo_url, :width => 220, :height => 150, :alt => "Property Pic") %>
      </div>

      <div class="col-md-4">
        <p><%=prop.address%></p>
        <p><%=prop.property_type%></p>
        <p>Popularity: <%=prop.shortlists.length%></p>
      </div>

      <div class="col-md-4">
        <p><b>$<%=prop.price%>/month</b></p>
      </div>

    </div>
    <br>
  <%end%>

</div>
<div class="col-md-6">
  <h1>Google Map API</h1>
</div>
