<div class="col-md-6">
  <h2>Listings Found: </h2>

    <form>
      <input type="text" placeholder="Search">
      <button type="submit" class="btn btn-primary btn-xs">Go</button>
    </form>
    <br>

  <div class="btn-group sortButton">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" class = "lowPrice">Lowest Price</a></li>
            <li><a href="#" class = "highPrice">Highest Price</a></li>
            <li><a href="#" class = "recency">Recency</a></li>
            <li><a href="#" class = "popularity">Popularity</a></li>
          </ul>
        </div>
  <br><br>

  <div class="propPanel "style="overflow-y: scroll; height:350px;">
    <%@properties.each do |prop|%>
      <div class="row sortProps" style="margin-bottom: 25px;">

        <div class="col-md-4">
          <div class="imagePlaceHolder" style="width:100%; height:147px; border-style:solid;">Image Placeholder</div>
        </div>
        <div class="col-md-4">
          <p><b><%=prop.address%></b></p>
          <p>S'pore <%=prop.postcode%></p>
          <p><%=prop.property_type%>, <%=prop.rent_area%></p>

          <p><i>Listed at: <span><%=prop.updated_at.to_s[0..18]%></span></i></p>
        </div>
        <div class="col-md-4">
          <p><b>$<span class="propPrice"><%=prop.price%></span> /month</b></p>
          <p>Popularity: <span class="propPop"><%=prop.shortlists.length%></span></p>
          <p style="display:none;"class="propTime">
            <%=Time.zone.parse(prop.updated_at.to_s).to_i%>
          <p>
        </div>

      </div>

    <%end%>
  </div>
</div>
<div class="col-md-6">
  <h2>Google Map API</h2>
  <%= image_tag("map", height: '450px', width: '550px') %>
</div>

<script   src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>
