<%= cl_image_tag(@property.photo_url, :width => 400, :height => 400, :alt => "Sample Image") %>

<div class="container" style="padding-top:20px">
  <strong><%= @property.address %>, Singapore <%= @property.postcode %></strong>
  <div id="shortlist-button">
    <%= link_to 'Shortlist', shortlists_path(prop_id: @property.id), :method => :post, class:'btn btn-primary', :remote => true %>
  </div>
  <br>
  $<%= @property.price %>/month
  <%= @property.lease_durn %> months lease
  <%= @property.property_type %>
  <%= @property.rent_area %>
</div>
<div class="container" style="padding-top:20px">
  <strong>Description</strong><br>
  <%= @property.description %>
</div>
<div class="container" style="padding-top:20px">
  <strong>Amenities</strong><br>
  <% @property.amenities.each do |amenity| %>
  <%= amenity.name %>
  <% end %>
</div>
<div class="container" style="padding-top:20px">
  <strong>Contact Owner</strong><br>
  <%= form_tag (contact_owner_path) do %>
  <%= text_area_tag :body %>
  <br><br>
  <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
