<h1>Properties#show</h1>

<h1>IMAGES HERE</h1>


<div class="container">
  <strong><%= @property.address %>, Singapore <%= @property.postcode %></strong>
  <br>
  $<%= @property.price %>/month
  <%= @property.lease_durn %> months lease
  <%= @property.property_type %>
  <%= @property.rent_area %>
  <%= link_to 'Shortlist', shortlists_path(prop_id: @property.id), class:'btn btn-primary' %>
</div>
<div class="container">
  <strong>Description</strong><br>
  <%= @property.description %>
</div>
<div class="container">
  <strong>Amenities</strong><br>
  <% @property.amenities.each do |amenity| %>
  <%= amenity.name %>
  <% end %>
</div>
<div class="container">
  <strong>Contact Owner</strong><br>
  <%= form_tag (contact_owner_path) do %>
  <%= text_area_tag :body %>
  <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
