<h1>Shortlists</h1>
<% @shortlists.each do |shortlist| %>
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%=@properties.find(shortlist.property_id).address%></h3>
      </div>
      <div class="panel-body">
        <a href=<%="/properties/"+shortlist.property_id.to_s%>>
          <img src=<%=@properties.find(shortlist.property_id).photo_url%> alt="Property Pic" style="width:220px; height:100px;">
        </a>
        <p>$<%=@properties.find(shortlist.property_id).price%>/month</p>
        <%= link_to("Details", property_path(id:shortlist.property_id), class: "btn btn-primary btn-xs")%>
        <%= link_to("Remove", remove_shortlists_path(id:shortlist.id,prop_id:shortlist.property_id), method: :delete, class: "btn btn-danger btn-xs")%>
      </div>
    </div>
  </div>
<%end%>
