
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Find a home you love</h1>
                <hr>
                <div class="input-group" id="suggestions">
                <%= form_tag(properties_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Enter address or property type", :class => "form-control typeahead" %>
                <span><%= submit_tag "Search", :name => nil, :class => "btn" %></span>
              </div>
            <% end %>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                    <h2 class="section-heading">Popular Properties</h2>
                    <hr>
                    <% @top_shortlists.each do |prop| %>
                    <div class="col-md-4">
                      <a href="/properties/<%=prop.id%>">
                      <%= cl_image_tag(prop.photo_url, :width => 340, :height => 220) %>
                      </a>
                        <br><br>
                        <p><strong>$<%=prop.price%>/mth &emsp; &emsp; <%=prop.address%></strong>
                        <br><%=prop.rent_area%><br></p>
                    </div>
                    <%end%>
                    <%= link_to "View more", properties_path(popular: "string"), :class => "page-scroll btn btn-xl sr-button"%>


            </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                    <h2 class="section-heading">Recent Properties</h2>
                    <hr>
                    <% @recent_properties.each do |property| %>
                    <div class="col-md-4">
                      <a href="/properties/<%=property.id%>">
                      <%= cl_image_tag(property.photo_url, :width => 340, :height => 220) %>
                      </a>
                      <br><br>
                      <p>
                        <strong>$<%=property.price%>/mth &emsp; &emsp; <%=property.address%></strong>
                        <br><%=property.rent_area%><br>
                      </p>
                  </div>
                    <%end%>
                    <%= link_to "View more", properties_path, :class => "page-scroll btn btn-xl sr-button"%>

            </div>
        </div>
    </section>


<script>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;
    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

$('#suggestions .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'all_properties',
  source: substringMatcher(<%=@all_properties.to_json.html_safe%>)
});

</script>
