
<div class="jumbotron">
  <h1>Roborent</h1>
  <p>We connect landlords and tenants without agents!</p>
  <div class="input-group">
      <input type="text" class="form-control" placeholder="Search listings by address">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
</div>

<h3>Popular Properties</h3>
<% @top_shortlists.each do |prop| %>
<div class="col-md-4">
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%=prop.address%></h3>
  </div>
  <div class="panel-body">
    <div class='container'><%= cl_image_tag(prop.photo_url, :width => 200, :height => 150) %></div>
    <br><br>
    <p>Popularity count: <%=prop.shortlists.count%></p>
    <p>Rental: $<%=prop.price%>/mth for <%=prop.rent_area%></p>
    <%= link_to 'View Details', property_path(prop) %>
  </div>
</div>
</div>
<%end%>

<h3>Recent Properties</h3>

  <% @recent_properties.each do |property| %>
  <div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%=property.address%></h3>
    </div>
    <div class="panel-body">
      <div class='container'><%= cl_image_tag(property.photo_url, :width => 200, :height => 150) %></div>
      <br><br>
      <p>Rental: $<%=property.price%>/mth for <%=property.rent_area%></p>
      <%= link_to 'View Details', property_path(property) %>
    </div>
  </div>
</div>
  <%end%>
