homepage.html.erb

<div class="jumbotron">
  <h1>Roborent</h1>
  <p>We connect landlords and tenants without agents!</p>

    <div class="input-group">
    <%= form_tag(properties_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter address or property type", :class => "form-control" %>
    <span><%= submit_tag "Search", :name => nil, :class => "btn btn-default" %></span>
  </div>
<% end %>
</div>

<h3>Popular Properties</h3>
<% @top_shortlists.each do |prop| %>
<div class="col-md-4">
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%=prop.address%></h3>
  </div>
  <div class="panel-body">
    <div class='container'><%= cl_image_tag(prop.photo_url, :width => 200, :height => 150) %></div>
    <br><br>
    <p>Popularity count: <%=prop.shortlists.count%></p>
    <p>Rental: $<%=prop.price%>/mth for <%=prop.rent_area%></p>
    <%= link_to 'View Details', property_path(prop) %>
  </div>
</div>
</div>
<%end%>

<h3>Recent Properties</h3>

  <% @recent_properties.each do |property| %>
  <div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%=property.address%></h3>
    </div>
    <div class="panel-body">
      <div class='container'><%= cl_image_tag(property.photo_url, :width => 200, :height => 150) %></div>
      <br><br>
      <p>Rental: $<%=property.price%>/mth for <%=property.rent_area%></p>
      <%= link_to 'View Details', property_path(property) %>
    </div>
  </div>
</div>
  <%end%>

  NAVBAR partials


  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                  </button>
                  <%= link_to "Roborent", root_path, class: "navbar-brand" %>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><%=link_to "Browse Properties", properties_path%></li>
                    <% if user_signed_in? %>
                      <li><%=link_to "Add Listings", new_property_path%></li>
                      <li><%=link_to "Profile", edit_user_registration_path%></li>
                      <li><%=link_to "Log out", destroy_user_session_path, method: :delete%></li>
                    <%else%>
                      <li> <%=link_to "Login", new_user_session_path%></li>
                      <li> <%=link_to "Signup", new_user_registration_path%></li>
                    <% end %>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>

INDEX.HTML.ERB SEARCH HISTORY
<script>

  var map;
  function initMap() {
    if(<%=@center_map%>){
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {lat: 1.384323,lng: 103.826093}
      });
    }
    else{
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: {lat: <%=@geocode[0][0]%>,lng: <%=@geocode[0][1]%>}
      });
    }
    var prev_infowindow =false;

    <%=@geocode.to_json.html_safe%>.forEach(function(arr){
      window['marker'+arr[0]] = new google.maps.Marker({
        // var marker = new google.maps.Marker({
        position: {lat:arr[0],lng:arr[1]},
        map: map
      })

      window['infowindow'+arr[0]] = new google.maps.InfoWindow({
        // var infowindow = new google.maps.InfoWindow({
        content: arr[2]
      });
      // var closeWindow = true
      // marker.addListener('mouseover', function() {
      //     infowindow.setContent(arr[2])
      //     closeWindow = true
      //   infowindow.open(map, this)
      // })
      // marker.addListener('mouseout', function() {
      //   if(closeWindow){
      //     infowindow.close()
      //   }
      // })
      window['marker'+arr[0]].addListener('click', function() {
        if(prev_infowindow) {
          prev_infowindow.close();
        }
        prev_infowindow = window['infowindow'+arr[0]];
        // closeWindow = false
        window['infowindow'+arr[0]].open(map, this)

        var $highlightedDiv = $('div p:contains('+arr[2]+')').parent('div').parent('div')
        var $otherDiv = $('div p:contains('+arr[2]+')').parent('div').parent('div').siblings()
        $otherDiv.hide()
        $highlightedDiv.show()
      })

      window['marker'+arr[0]].addListener('closeclick', function() {
        var $otherDiv = $('div p:contains('+arr[2]+')').parent('div').parent('div').siblings()
        $otherDiv.show()
        console.log('closing')
        // closeWindow = true
      })
    })

  }

  function centrePin () {
    var $propLatitude = parseFloat($(this).find('.propLat').text())
    var $propLongitude = parseFloat($(this).find('.propLng').text())
    map.panTo(new google.maps.LatLng($propLatitude, $propLongitude))
    console.log("latitude is "+ $propLatitude + " and longitude is "+ $propLongitude)
  }

  $(document).on('mouseenter', '.sortProps', {}, centrePin)
  // $(document).on('mouseenter', '.sorProps', {}, originalPin)


</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClU-x_i5Nq9B1Q1qRuSJ0_0nKLdf41q8g&callback=initMap">
</script>
<script>
var substringMatcher = function(strs) {
return function findMatches(q, cb) {
  var matches, substringRegex;
  // an array that will be populated with substring matches
  matches = [];

  // regex used to determine if a string contains the substring `q`
  substrRegex = new RegExp(q, 'i');

  // iterate through the pool of strings and for any string that
  // contains the substring `q`, add it to the `matches` array
  $.each(strs, function(i, str) {
    if (substrRegex.test(str)) {
      matches.push(str);
    }
  });

  cb(matches);
};
};

$('#suggestions .typeahead').typeahead({
hint: true,
highlight: true,
minLength: 1
},
{
name: 'all_properties',
source: substringMatcher(<%=@all_properties.to_json.html_safe%>)
});

</script>

</div>
